<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile>
    <div class="how-it-works-item">
      <img src="assets/icons/document-icon.svg" alt="*">
      <p>
        <b>Conecte-se</b> com projetos da UFMG que impactam a sua vida
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="how-it-works-item">
      <img src="assets/icons/moeda-vector.svg" alt="*">
      <p>
        <b>Cientive</b> os projetos com doações financeiras de forma online e segura
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="how-it-works-item">
      <img src="assets/icons/like-vector.svg" alt="*">
      <p>
        <b>Acompanhe</b> o desenvolvimento dos projetos
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="aligned-with-icon">
    <div class="how-it-works-item">
      <img src="assets/icons/community-vector.svg" alt="*">
      <p>
        <b>Vivencie</b> uma comunidade conectada e engajada a favor da ciência
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
