<div class="container">
  <h1>Quem somos</h1>
  <hr>
  <div class="inner-container">
    <h2>Quem somos</h2>
    <p>Somos um grupo transdisciplinar de estudantes e pesquisadores que acreditam na ciência e nas pessoas.</p>
  </div>
  <div class="inner-container">
    <p><span>Dilian Caiafa</span></p>
    <p><span>Mestranda em Inovação Tecnológica e Propriedade Intelectual da UFMG</span></p>
  </div>
  <div class="inner-container">
    <p><span>Bruno de Melo</span></p>
    <p><span>Graduando em Sistemas de Informação</span></p>
  </div>
  <div class="inner-container">
    <p><span>Saulo Bicalho</span></p>
    <p><span>Graduando em </span>Sistemas de Informação</p>
  </div>
  <div class="inner-container">
    <p><span>Renata Borges</span></p>
    <p><span>Departamento de Ciências Administrativas da UFMG</span></p>
  </div>
  <div class="inner-container">
    <p><span>Daniel Macedo</span></p>
    <p><span>Professor do Departamento de Ciência da Computação da UFMG</span></p>
  </div>
  <hr>
</div>
