<div class="container">
  <h1>Financiamento Coletivo</h1>
  <hr>
  <div class="inner-container">
    <h2>O que é financiamento coletivo?</h2>
    <p>
      Financiar coletivamente uma causa de interesse público existe antes mesmo da intervenção da Internet.
      O pedestal da Estátua da Liberdade, na cidade de Nova Iorque (EUA), e a construção do Cristo Redentor,
      no Rio de Janeiro, são exemplos de experimentos dessa natureza.
    </p>
    <p>
      Nos moldes atuais, o financiamento coletivo, também conhecido como crowdfunding, é um mecanismo de financiar
      iniciativas de interesse coletivo por meio da mobilização online de múltiplas fontes de recurso – pessoas e
      instituições – interessadas pela iniciativa.
    </p>
    <p>
      No contexto universitário, o financiamento coletivo é uma alternativa frente aos sucessivos cortes orçamentários
      para o desenvolvimento de pesquisa no Brasil.
    </p>
    <p>
      Convidamos você para se conectar com projetos desenvolvidos na Universidade Federal de Minas Gerais (UFMG),
      uma das melhores universidades federais brasileiras, e apoiá-los com qualquer quantia financeira.
    </p>
    <p>
      Na Cientiva, todos se juntam pela ciência!
    </p>
  </div>
  <hr>
</div>
