div {
  width: 1220px;
  height: 464px;
  text-align: center;
  background: #F4F4F4;
  border-radius: 33px;

  span {
    padding: 160px 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #32BCAD;
  }
}
