<div class="container">
  <mat-carousel
    timings="1000ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="40"
    [slides]="slides.length"
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.image">
      <img class="cientiva-icon" src="assets/icons/cientiva.svg" alt="*">
      <p class="cientiva-envie">Envie seu projeto universitário</p>
    </mat-carousel-slide>
  </mat-carousel>
  <div class="inner-container">
    <h1 class="cientiva-header">Como funciona</h1>
    <app-how-it-works></app-how-it-works>
  </div>
  <div class="inner-container">
    <h1 class="cientiva-header">Cientive!</h1>
      <mat-grid-list cols="3" rowHeight="1:2">
          <mat-grid-tile *ngFor="let num of [1,2,3]">
            <mat-card class="mat-elevation-z4 card-space" (click)="navigate()">
              <img mat-card-image
                   src="assets/images/estacao.png"
                   alt="Estação Ecológica UFMG">
              <mat-card-header>
                <mat-card-title>Conservação da biodiversidade urbana - Estação Ecológica da UFMG</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h3>Resumo:</h3>
                <p>
                  Nosso objetivo é ampliar as atividades de preservação da Biodiversidade e do Patrimônio Cultural da Estação
                  Ecológica da UFMG.
                </p>
                <mat-progress-bar mode="determinate" value="87"></mat-progress-bar>
                <div class="money-got">
                  <div class="arrecadado">
                    <b>R$ 13.852,36</b> arrecadado
                  </div>
                  <div class="meta">
                    <b>87%</b> <br>da meta
                  </div>
                </div>
              </mat-card-content>
              <mat-card-footer>
                SUSTENTABILIDADE
              </mat-card-footer>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
  </div>
  <div class="inner-container">
    <h1 class="cientiva-header">Quem somos</h1>
    <p>
      A Cientiva é uma plataforma de financiamento coletivo exclusiva para projetos da Universidade Federal de
      Minas Gerais. O projeto é realizado por estudantes, professores e instituições da Universidade Federal de
      Minas Gerais que acreditam na conexão entre ciência e pessoas. Venha com a gente nessa!
    </p>
    <div class="project-team">
      <div class="item">
        <a href="https://www.linkedin.com/in/renata-borges-3685a926/">
          <img src="assets/images/renata.jpg" alt="Avatar">
        </a>
        <h5>Renata Borges</h5>
        Ocupação/Cargo
      </div>
      <div class="item">
        <a href="https://www.linkedin.com/in/daniel-fernandes-macedo/">
          <img src="assets/images/daniel.jpg" alt="Avatar">
        </a>
        <h5>Daniel Macedo</h5>
        Ocupação/Cargo
      </div>
      <div class="item">
        <a href="https://www.linkedin.com/in/dilian-caiafa-368801123/">
          <img src="assets/images/dilian.jpg" alt="Avatar">
        </a>
        <h5>Dilian Caiafa</h5>
        Ocupação/Cargo
      </div>
      <div class="item">
        <a href="https://www.linkedin.com/in/miriamvitria/">
          <img src="assets/images/miriam.jpg" alt="Avatar">
        </a>
        <h5>Míriam Vitória</h5>
        Ocupação/Cargo
      </div>
      <div class="item">
        <a href="https://www.linkedin.com/in/tomashbaguiar/">
          <img src="assets/images/tomas.jpg" alt="Avatar">
        </a>
        <h5>Tomás Aguiar</h5>
        Ocupação/Cargo
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
